@charset "utf-8";

.navbar {
    background-color: #FFFFFF;
    margin-bottom: 5px;
}

.navbar-default .navbar-brand {
    color: #00b0ad;
}

.btn.btn-hack {
    background-color: #00b0ad;
    color: #FFFFFF;
}

.btn.btn-hack:hover {
    color: #000000;
}

.panel-default .panel-heading {
    background-color: #00b0ad;
    color: #FFFFFF;
}

.user-profile button {
    width: 100%;
}

.cover {
    margin-top: -5px;
    margin-bottom: 0px;
    width: 100%;
    min-height: 120px;
    background-color: #00b0ad;
    background-size: cover;
}

.cover .container .cover-inner {
    height: 100%;
    display: table;
}
.cover .container .cover-inner .cover-contents {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.cover .container .cover-inner .cover-contents h1 {
    margin-top: 35px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.10em;
}

.container .welcome_contents a {
    color: #fff;
}
 
.container .welcome_contents a:hover {
    color: #000000;
}

.form-midle {
    margin-top: 10px;
}

.form-mini {
    margin-top: -10px;
    margin-bottom: 5px;
}

.button-point {
    float: right;
    clear: both;
}

tr td a p.tweet_title{
    font-size: 20px;
}

tr td.avatar_table {
    width: 50px;
}

.welcome_tabs {
    margin-top: 15px;
}

.btn-text-color {
    color: #fff;
}

.jumbotron {
    background-color: #fff;
}

.show_tweet_text {
    margin-left: 5px;
    position: relative;
}

.show_tweet {
    float: left;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.show_tweet_content {
    font-size: 20px;
}

.well {
    height: 35px;
}

.content-box {
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: #cccccc;
}

.favorite-button-bottom {
    margin: 50px 0 10px 0;
}

.btn-long {
    color: #00b0ad;
    width: 200px;
}

.comment-box {
    margin-top: 20px;
    border: solid;
    border-width: thin;
    border-color: #cccccc;
}

.comment-box .comment-box-inner {
    margin: 10px;
}