@charset "utf-8";

.navbar {
    background-color: #FFFFFF;
}

.navbar-default .navbar-brand {
    color: #00b0ad;
}

input.btn.btn-hack {
    background-color: #00b0ad;
}

input.btn {
    color: #FFFFFF;
}

.panel-default .panel-heading {
    background-color: #00b0ad;
    color: #FFFFFF;
}

.user-profile button {
    width: 100%;
}